# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# PHP & Paket yöneticileri
/vendor/
composer.lock

# Veritabanı ve Çevresel ayarlar (ÖNEMLİ)
.env
backend/jwtCreate.php
backend/dbConnect.php
*.sqlite

# Log dosyaları
*.log
npm-debug.log*

# IDE (Kod editörü) ayarları
.vscode/
.idea/

#Docker Files
Dockerfile
composer.json
compose.yaml
.dockerignorevendor 

#logs
logs/

#bash
start.sh
stop.sh