.main-dept-container {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.dept-container-div{
    display: flex;
    flex-direction: column;
}
/*Placeholder style text*/
.placeholder {
    color: #555;
    margin: 0;
}

#filterContainer{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

#searchTableItem{
    border: solid 3px;
    border-radius: 5px;
}

#searchButton{
    background-color:transparent;
    border-radius: 10px;
    border: none;
    transition: box-shadow 0.2s;
}

#searchButton:hover{
    box-shadow: 1px 1px 5px;
    transition: box-shadow 0.2s;
}

#searchButton:active{
    box-shadow: none;
    transition: box-shadow 0.1s;
}

#searchField {
    width: 300px;
    height: 34px;
    /*Boldness of font*/
    font-weight: 1000;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 0.2s, border-color 0.5s;
}

#searchField:focus {
    /*I want to change property of table instead of text field*/
    outline: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    border-color: darkturquoise;
}

#lang {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 720px) {
    #search {
        width: 100%;
        max-width: 360px;
    }
}
