/* to control the background color that show behind the moving images*/
.hero-section-container {
    width: 100%;
    background-color: #f9fbfc;
    padding: 20px 0;
}

.hero-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 12px;
    height: 480px;
}

.hero-main {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

/*to control the moving of images*/
.slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 33.33%;
    height: 100%;
    position: relative;
}

/* to control the size and positioning of moving images */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* this the function that control the moving of images in the hero section */
@keyframes slideAnimation {

    0%,
    30% {
        transform: translateX(0);
    }

    33%,
    63% {
        transform: translateX(-33.33%);
    }

    66%,
    96% {
        transform: translateX(-66.66%);
    }

    100% {
        transform: translateX(0);
    }
}

.why-us {
    padding: 80px 50px;
    background: #f5f8fc;
    text-align: center;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature-box {
    background: white;
    width: 250px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
}

.statistics {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 70px;
    background: #3529bd;
    color: white;
    text-align: center;
}

.slide {
    position: relative;
}

/* to control the box the text that show on the moving images in the hero section*/
.hero-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(248, 247, 247);
    background: rgba(20, 20, 20, 0.507);
    padding: 30px;
    border-radius: 15px;
    width: 60%;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
}

.feature-box,
.review {
    /*to control how fast will the box in why choose nova hospital  will be bigger*/
    transition: transform .3s ease, box-shadow 0.4s ease;
}

/* here to control the boxs in "Why Choose nova hospital */
.feature-box:hover,
.review:hover {
    /* control  the scaling and shadow in boxs */
    transform: scale(1.2);
    box-shadow: 0 10px 30px rgba(68, 228, 249, 0.2);
    cursor: pointer;
    z-index: 10;
}

.feature-box:active,
.review:active {
    transform: scale(1.05);
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background: #1d3fa6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #081d4a;
}

.back-link {
    display: block;
    margin-top: 15px;
    color: #1d3fa6;
    text-decoration: none;
    font-size: 14px;
}

/* Styling for the image strip below the hero */
.image-strip-container {

    width: 100%;
    height: 100px;
    padding: 0 0;
    /* pace before Why Choose Us section */
    background-color: #8bddef55;
    /* Light background to separate sections */
}

/* to control the size and spacing of images  that show under the moving images in the hero*/
.image-strip {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Modified for smaller size */
.strip-item {
    flex: 1;
    max-width: 200px;
    /* Limits the width of each thumbnail */
    height: 100px;
    /* Reduced height from 200px to 130px */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(246, 248, 249, 0.853);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* to control the size and cropping of images  that show under the moving images */
.strip-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Important to keep images looking good */
    transition: transform 0.5s ease;
}

/* Interaction Effects */
.strip-item:hover {
    transform: translateY(-20px);
    /* Lift up effect */
    box-shadow: 0 12px 25px rgba(22, 5, 5, 0.709);
}

/* Slider Buttons */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(7, 183, 242, 0.467);
    border: none;
    color: white;
    font-size: 30px;
    padding: 10px 16px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s;
}

.slider-btn:hover {
    background: rgba(11, 11, 11, 0.438);
}

.prev-btn { left: 15px; }
.next-btn { right: 15px; }
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
